*-debug.log
*-error.log
**/.DS_Store
/.idea
/dist
/tmp
/node_modules

package-lock.json
pnpm-lock.yaml
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

coverage/*
runs/*

test.js

docs/*

benchmarks/**/results
benchmarks/**/analysis.json
fixtures/**/.xgsd
fixtures/**/node_modules
fixtures/**/.benchmark
fixtures/**/.typescript

signals.jsonl
script.js